.carrito > h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.productos-carrito {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.productos-carrito-table {
    background-color: var(--color-fondo);
    border: none;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.producto-card {
    background-color: var(--color-fondo);
    border-radius: 10px;
    border: none;
    padding: 1em;
    margin: 1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.cuerpo-card {
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
    align-content: center;
}

.imagen-card {
    
}

.imagen-card > img {
    width: 10%;
    height: auto;
    padding: 0.5em;
    margin: 0.5em;
}

.botonera-card {
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
    align-content: center;
}

.precio-card {
    margin-left: 1em;
    margin-right: 1em;
    align-content: center;
    text-align: end;
}

.total-carrito {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background-color: var(--color-fondo);
    border-radius: 10px;
    
    padding: 1em;
    margin: 1em;
}

.cuerpo-total-carrito {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}