.carrito > h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.productos-carrito {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.productos-carrito-table {
    background-color: var(--color-fondo);
    border: none;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.boton-eliminar-td {
    text-align: center;
    width: 10%;
    padding: 0.5em;
    margin: 0.5em;
}

.producto-card {
    background-color: var(--color-fondo);
    border-radius: 10px;
    border: none;
    padding: 1em;
    margin: 1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.cuerpo-card {
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
    align-content: center;
}

.imagen-card {
    text-align: center;
    width: 20%;
    padding: 0.5em;
    margin: 0.5em;
}

.imagen-card > img {
    width: 10%;
    height: auto;
}

.descripcion-card-td {
    text-align: left;
    padding: 0.5em;
    margin: 0.5em;
}

.precio-card-td, .total-card-td {
    text-align: right;
    padding: 0.5em;
    margin: 0.5em;
}

.precio-card {
    margin-left: 1em;
    margin-right: 1em;
    align-content: center;
    text-align: end;
}

.total-carrito {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background-color: var(--color-fondo);
    border-radius: 10px;
    
    padding: 1em;
    margin: 1em;
}

.cuerpo-total-carrito {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

@media  (max-width: 48em) {
    .productos-carrito-table {
        width: 100%;
    }

    .productos-carrito-table tr {
        display: flex;
        flex-direction: column;
    }

    .producto-card {
        padding: 0.5em;
        margin: 0.5em;
    }

    .descripcion-card-td {
        padding: 0.25em;
        margin: 0.25em;
        text-align: left;
    }

    .precio-card-td, .total-card-td {
        padding: 0.25em;
        margin: 0.25em;
    }

    .precio-card-td {
        text-align: center;
    }
    
    .precio-card {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .imagen-card {
        display: none;
    }
}

@media (max-width: 30em) {
    .productos-carrito-table {
        width: 100%;
    }

    .productos-carrito-table tr {
        display: flex;
        flex-direction: column;
    }

    .producto-card {
        padding: 0.3em;
        margin: 0.3em;
    }

    .descripcion-card-td {
        padding: 0.1em;
        margin: 0.1em;
        text-align: left;
    }

    .precio-card-td, .total-card-td {
        padding: 0.1em;
        margin: 0.1em;
    }
    
    .precio-card-td {
        text-align: center;
    }

    .precio-card {
        margin-left: 0.3em;
        margin-right: 0.3em;
    }

    .imagen-card {
        display: none;
    }
}