.nosotros {
    background-color: var(--color-fondo-section);
}

.nosotros > h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.nosotros-descripcion {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20em;
    margin-right: 20em;
    justify-content: center;
}

.nosotros-descripcion > article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.nosotros-descripcion > article > div > img {
    width: 15em;
    height: auto;
}

.nosotros-descripcion > article > .derecha {
    padding-left: 1em;
    padding-right: 1em;
}

.nosotros-descripcion > article > .izquierda {
    padding-left: 1em;
    padding-right: 1em;
}

.nosotros-descripcion > article > .margen-a-izquierda {
    margin-left: 15em;
}

.nosotros-descripcion > article > .margen-a-derecha {
    margin-right: 15em;
}

@media (max-width: 48em) {
    .nosotros-descripcion {
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        margin-left: 7.5em;
        margin-right: 7.5em;
    }

    .nosotros-descripcion > article > div > img {
        width: 7em;
    }

    .nosotros-descripcion > article > .margen-a-izquierda {
        margin-left: 0;
    }

    .nosotros-descripcion > article > .margen-a-derecha {
        margin-right: 0;
    }
}

@media (max-width: 30em) {
    .nosotros-descripcion {
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 2em;
        margin-right: 2em;
    }

    .nosotros-descripcion > article {
        flex-direction: column;
    }

    .nosotros-descripcion > article > div > img {
        display: none;
    }

    .nosotros-descripcion > article > .margen-a-izquierda {
        margin-left: 0;
    }

    .nosotros-descripcion > article > .margen-a-derecha {
        margin-right: 0;
    }
}
